@media (min-width: 800px) {
  .wpz-section-desc {
    max-width: 65%;
    opacity: .8; } }

.wpz_pattern_1 .wp-block-cover,
.wpz_pattern_2 .wp-block-cover {
  border-radius: 4px; }
  .wpz_pattern_1 .wp-block-cover .wp-block-cover__background,
  .wpz_pattern_1 .wp-block-cover img,
  .wpz_pattern_2 .wp-block-cover .wp-block-cover__background,
  .wpz_pattern_2 .wp-block-cover img {
    border-radius: 4px; }
  .wpz_pattern_1 .wp-block-cover h3,
  .wpz_pattern_2 .wp-block-cover h3 {
    margin-bottom: 0; }
  .wpz_pattern_1 .wp-block-cover h3 a,
  .wpz_pattern_2 .wp-block-cover h3 a {
    color: #fff;
    text-decoration: none; }
    .wpz_pattern_1 .wp-block-cover h3 a:hover,
    .wpz_pattern_2 .wp-block-cover h3 a:hover {
      text-decoration: underline; }

.wpz_pattern_4 img {
  border-radius: 10px; }

.wpz_pattern_4 .wp-block-media-text__content {
  padding: 0; }

.wpz_pattern_8 {
  position: relative;
  overflow: hidden; }
  .wpz_pattern_8 .wp-block-group__inner-container {
    position: relative;
    z-index: 9; }
  .wpz_pattern_8 .wp-block-column a {
    color: #000;
    font-weight: normal;
    text-decoration: underline; }
    .wpz_pattern_8 .wp-block-column a:hover {
      text-decoration: none; }
  .wpz_pattern_8:after {
    background: url(../images/noise.png) repeat;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8; }
  .wpz_pattern_8 .wp-block-columns.has-background {
    position: relative; }
    .wpz_pattern_8 .wp-block-columns.has-background:after {
      display: block;
      content: "";
      position: absolute;
      width: 972px;
      height: 362.77px;
      left: 234px;
      top: 0;
      background: linear-gradient(180deg, #42DDFF 0%, rgba(17, 112, 255, 0.46) 100%);
      opacity: 0.3;
      filter: blur(200px); }

.wpz_pattern_9 {
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px; }

@media (min-width: 800px) {
  .wpz_pattern_9 .wp-block-columns > div:first-child {
    margin-top: -70px;
    margin-bottom: -100px;
    margin-right: 3%;
    margin-left: 2%; }
    .wpz_pattern_9 .wp-block-columns > div:first-child img {
      margin-bottom: 0; } }

.wpz_pattern_11 .wp-block-cover {
  border-radius: 4px; }
  .wpz_pattern_11 .wp-block-cover .wp-block-cover__background,
  .wpz_pattern_11 .wp-block-cover img {
    border-radius: 4px; }
  .wpz_pattern_11 .wp-block-cover .has-white-color a {
    color: #fff !important;
    font-weight: normal;
    text-decoration: none; }
    .wpz_pattern_11 .wp-block-cover .has-white-color a:hover {
      text-decoration: underline; }

.wpz_pattern_14 h3.wp-block-post-title {
  font-size: 22px;
  margin: 0 0 12px; }
  .wpz_pattern_14 h3.wp-block-post-title a {
    color: #444;
    font-weight: 500; }
    .wpz_pattern_14 h3.wp-block-post-title a:hover {
      text-decoration: underline; }

.wpz_pattern_15 h3.wp-block-post-title {
  font-size: 22px;
  margin: 0 0 12px; }
  .wpz_pattern_15 h3.wp-block-post-title a {
    color: #444;
    font-weight: 600; }
    .wpz_pattern_15 h3.wp-block-post-title a:hover {
      text-decoration: underline; }

.wpz_pattern_16 .wp-block-query .wp-block-group__inner-container {
  position: relative;
  transition: .2s ease all; }
  .wpz_pattern_16 .wp-block-query .wp-block-group__inner-container:hover .wp-block-post-title a {
    text-decoration: underline;
    transition: .2s ease all; }
  .wpz_pattern_16 .wp-block-query .wp-block-group__inner-container:hover figure {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2)); }
  .wpz_pattern_16 .wp-block-query .wp-block-group__inner-container figure {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    transition: .2s ease all; }
    .wpz_pattern_16 .wp-block-query .wp-block-group__inner-container figure img {
      border-radius: 4px; }
    .wpz_pattern_16 .wp-block-query .wp-block-group__inner-container figure:after {
      border-radius: 4px;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 6;
      pointer-events: none;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.8)); }

.wpz_pattern_16 h3.wp-block-post-title {
  font-size: 22px;
  margin: 0 0 12px;
  transition: .2s ease all; }
  .wpz_pattern_16 h3.wp-block-post-title a {
    color: #444;
    font-weight: 600;
    transition: .2s ease all; }
    .wpz_pattern_16 h3.wp-block-post-title a:hover {
      text-decoration: underline;
      transition: .2s ease all; }

/* 3 cols without spacing */
.wpz_pattern_17 .wp-block-post-template.is-flex-container,
.wpz_pattern_17 .wp-block-query-loop.is-flex-container {
  gap: 0; }

.wpz_pattern_17 .wpz-posts-inner-info {
  text-align: center; }

.wpz_pattern_17 .wp-block-post-featured-image img {
  border-radius: 0; }

.wpz_pattern_17 .wp-block-query .wp-block-group__inner-container {
  position: relative;
  transition: .2s ease all; }
  .wpz_pattern_17 .wp-block-query .wp-block-group__inner-container:hover .wp-block-post-title a {
    text-decoration: underline;
    transition: .2s ease all; }
  .wpz_pattern_17 .wp-block-query .wp-block-group__inner-container:hover figure {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2)); }
  .wpz_pattern_17 .wp-block-query .wp-block-group__inner-container figure {
    width: 100% !important;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    transition: .2s ease all; }
    .wpz_pattern_17 .wp-block-query .wp-block-group__inner-container figure:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 6;
      pointer-events: none;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.8)); }

.wpz_pattern_17 h3.wp-block-post-title {
  font-size: 22px;
  margin: 0 0 12px;
  transition: .2s ease all; }
  .wpz_pattern_17 h3.wp-block-post-title a {
    color: #444;
    font-weight: 600;
    transition: .2s ease all;
    text-decoration: none; }
    .wpz_pattern_17 h3.wp-block-post-title a:hover {
      text-decoration: underline;
      transition: .2s ease all; }

@media (min-width: 600px) {
  .wpz_pattern_17 .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
  .wpz_pattern_17 .wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
    width: 33.33333%; } }

.wpz-posts-inner-info {
  position: absolute;
  bottom: 5%;
  z-index: 9;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  color: #fff; }
  .wpz-posts-inner-info .wp-block-post-date, .wpz-posts-inner-info .wp-block-post-terms,
  .wpz-posts-inner-info .wp-block-post-date a, .wpz-posts-inner-info .wp-block-post-terms a {
    color: #fff !important;
    opacity: .8; }
  .wpz-posts-inner-info h3.wp-block-post-title a {
    color: #fff;
    text-decoration: none; }
    .wpz-posts-inner-info h3.wp-block-post-title a:hover {
      text-decoration: underline;
      transition: .2s ease all; }

.wpz_pattern_18 > .wp-block-group__inner-container {
  border: 2px solid #cfd6db;
  border-radius: 8px;
  padding: 15px 30px 0;
  margin: 25px 0; }

.wpz_pattern_18 h2 {
  margin: 10px 0 0;
  margin-bottom: 0 !important; }

.wpz_pattern_18 .wp-block-columns {
  margin-bottom: 0; }

.wpz_pattern_19 .wp-block-columns > div:nth-child(3) {
  border: 2px solid #cfd6db;
  border-radius: 8px;
  padding: 15px 30px;
  margin: 0; }

.wpz_pattern_19 h2 {
  margin: 10px 0 0;
  margin-bottom: 0 !important; }

.wpz_pattern_19 .wp-block-columns {
  margin-bottom: 0; }

.wpz_pattern_19 input[type=text],
.wpz_pattern_19 input[type=submit],
.wpz_pattern_19 textarea,
.wpz_pattern_19 button {
  margin-bottom: 10px;
  width: 100%; }

.wp-block-columns figure,
.wp-block-columns img {
  max-width: 100%;
  height: auto; }
